/* Reset cơ bản */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font và nền chung */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
  color: #333;
}

/* Container chính */
.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

/* Tiêu đề */
.title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Card món ăn */
.card {
  background: white;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* Tên món */
.card h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

/* Giá */
.price {
  color: #e63946;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Nút */
.button {
  background: #e63946;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.button:hover {
  opacity: 0.85;
}

/* Input */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.cart-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 15px;
  box-shadow: 0 -4px 12px rgba(0,0,0,0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}